body {
	background-color: #c0c0c0;
}

#wrapper {
	width: 1025px;
	margin: 20px auto;
}

#header {
	width: 1025px;
	height: 44px;
	/*border: 1px solid red;*/
	border-radius: 2px 2px 0 0;
	background-color: #b2b1b1;
	border-bottom: 1px solid #757575;
}

#left {
/*	border: 1px solid green;*/
	float: left;
	margin: 8px 0 0 35px;
}

#left img {
	display: block;
	float: left;
}

#left div {
	font: 16px Verdana, sans-serif;
	color: #747474;
	text-shadow: 1px 1px 2px white;
	float: left;
	margin: 3px 0 0 4px;
}

#right {
	float: right;
/*	border: 1px solid red;*/
	padding-right: 7px;

}

#right ul li {
	list-style: none;
	float: left;
	margin-left: 6px;
	position: relative;
	bottom: 6px;
}

#content {
	height: 776px;
	border-top: 1px solid #cfcfcf;
/*	border: 1px solid red;*/
	background: #b2b1b1; /* Для старых браузров */
    background: -moz-linear-gradient(top, #b2b1b1, #cfcfcf); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#b2b1b1), color-stop(100%,#b2b1b1));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #b2b1b1, #cfcfcf);
    background: -o-linear-gradient(top, #b2b1b1, #cfcfcf); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2b1b1, #cfcfcf); /* IE10 */
    background: linear-gradient(top, #b2b1b1, #cfcfcf); /* CSS3 */ 
}
